.jobPositions {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1em;
}

.jobCard {
  height: max-content;
}

.jobCardHeader {
  flex-direction: row-reverse;
  box-sizing: border-box;
  border: 1px solid transparent;
}

.jobCardTitle {
  color: black;
  font-size: 20px;
  font-weight: 500;
}

.jobContent {
  display: block;
  display: -webkit-box;
  margin: 0 auto;
  line-height: 1.4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  -webkit-line-clamp: 5;
  transition: 0.5s;
  box-sizing: border-box;
  border: 1px solid transparent;
}

.open {
  -webkit-line-clamp: inherit;
}
